body
{
    background: #1a2a6c;
    background: linear-gradient(to top, #000428, #004e92);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.HeaderNav
{
    background-color: aliceblue;
    height:68px;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.BigNav
{
    padding: 10px;
}
#NavBarItem
{
    padding-left: 0;
    margin: 0;
    text-align: right;
   
}
.BigNav li
{
 display: inline-block;  
}

.nav_item_active 
{
    border-bottom: 2px solid black;
    transition: ease 0.1s;
}

a
{
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
#NavBarItem :hover
{
color: white;
background-color: black;
}
/*
Finsh Navbar
*/

/* Start MainSction  in Page
*/
main
{
    display: grid;
}
.LandingHeader
{
    padding: 15px;
}
#TextLanding
{
    margin: 4em;
    text-align: center;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
}

/* Start In section */
h2
{
    border-bottom: 1px yellow solid;
    font-size: 6em;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;

}
p
{
    padding: 10px;
    margin: 20px;
    line-height: 1.6em;
    color: white;
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;

}


#section1 
{ 
    text-align:  left;
    padding: 10em;
    margin: 5em;
    background-color: #002851;
   

}
#section2
{
    text-align:  right;
    margin-left: 26em; 
    padding: 10em;
    background-color: #002851;

}
#section3
{
    padding: 10em;
    margin: 5em;
    background-color: #002851;
    text-align: left;
}
#section4
{
    text-align:  right;
    margin-left: 26em; 
    padding: 10em;
    background-color: #002851;
}

@media only screen and (min-width: 35em){
    .section1 {
        margin: 0%;
    }
}
.cirlce{
  width:100px;
  height:100px; 
  margin-top:180px; 
  transform-origin:200% center;
  position:relative; 
  animation:rotate 3s linear infinite;
}

.cirlce:before {
  content:'';
  position:absolute;
  height:20vh; 
  width:20vh;
  background:rgba(255, 255, 255, 0.187);
  animation:rotate 3s linear reverse infinite;
  border-radius: 50%;

}

@keyframes rotate {
  100% { transform:rotate(-360deg); 
  } 
}
.EndOfPage
{
    background-color: #fff;
    height: 5em;
}
.textfooter
{
    color: black;
    padding: 10px;
    text-align: center;
}
.convertm
{
    display: none;
}

@media (max-width: 641px)
{
    .LandingHeader
    {
        width: 100%;
    }

    h1
    {
     font-size: 20rem;
    }
    h2
    {
      font-size:13rem;
    }
    p
    {
       font-size:4rem;
    }
    #section2 
    {
        text-align: right;
        margin-left: 26em;
        padding: 3em;
        background-color: #002851;
    }

    #section4
     {
        text-align: right;
        margin-left: 26em;
        padding: 4em;
        background-color: #002851;
    }
    .HeaderNav 
    {
        width: 88rem;
        height: 232vh;
        transition: ease 0.3s;
        position: fixed;
        top: 12em;
    }
    a 
    {
    display: block;
    padding: 2em;
    font-weight: bold;
    font-size: 5em;
    text-decoration: none;
    color: #000;
    }
    .BigNav ul
     {
        margin-top: 40%;
        text-align: center;
    }
    
    .BigNav li
    {
        width: 100%;
    }
    .convertm 
    {
        display: block;
        font-size: 30px;
        position: fixed;
        top: 2em;
        left: 12em;
        width: 38em;
        height: 3em;
        background-color: #fff;
        border-radius: 46px;
        text-align: center;
        cursor: pointer;
        color: #000;
        z-index: 5;
    }
    
    .open
     {
        transform: translateX(-100%);
        transition: ease 0.3s;
    }
    
    .EndOfPage
    {
        background-color: #fff;
        height: 8em;
        width: 109rem;
    }

}
    




#myBtn 
{
display: none;
    color: white; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #2d7dc3; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 15px; 
    font-size: 18px; 
    font-family:'Fira Sans', sans-serif;
  }
  
  #myBtn:hover 
  {
    background-color:#2d7dc3; 
  }
