*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html
{
    scroll-behavior: smooth;
}
body
{
    background: #1a2a6c;
    background: linear-gradient(to top, #000428, #004e92);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.HeaderNav
{
    background-color: aliceblue;
    height: 68px;
    scroll-behavior: smooth;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.BigNav
{
    padding: 10px;
}
#NavBarItem
{
    display: flex;
    list-style: none;
   
}
.nav_item1
{
    position: absolute;
    left: 70rem;
    top: 20px;
    padding: 10px;
}

.nav_item2
{
    position: absolute;
    left: 76rem;
    top: 20px;
    padding: 10px;
}
.nav_item3
{
    position: absolute;
    left: 82rem;
    top: 20px;
    padding: 10px;
}
.nav_item4
{
    position: absolute;
    left: 88rem;
    top: 20px;
    padding: 10px;
}
a
{
    color: black;
    text-decoration: none;
}
#NavBarItem :hover
{
color: white;
background-color: black;
}
/*
Finsh Navbar
*/

/* Start MainSction  in Page
*/
main
{
    display: grid;
}
.LandingHeader
{
    padding: 15px;
}
#TextLanding
{
    margin: 4em;
    text-align: center;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
}

/* Start In section */
h2
{
    border-bottom: 1px yellow solid;
    font-size: 4em;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;

}
p
{
    padding: 10px;
    margin: 20px;
    line-height: 1.6em;
    color: white;
    font-family: 'Fira Sans', sans-serif;

}


#section1 
{ 
    text-align:  left;
    padding: 10em;
    margin: 5em;
    background-color: #002851;
   

}
#section2
{
    text-align:  right;
    margin-left: 26em; 
    padding: 10em;
    background-color: #002851;

}
#section3
{
    padding: 10em;
    margin: 5em;
    background-color: #002851;
    text-align: left;
}
#section4
{
    text-align:  right;
    margin-left: 26em; 
    padding: 10em;
    background-color: #002851;
}

@media only screen and (min-width: 35em){
    .section1 {
        margin: 0%;
    }
}
.cirlce{
  width:100px;
  height:100px; 
  margin-top:180px; 
  transform-origin:200% center;
  position:relative; 
  animation:rotate 3s linear infinite;
}

.cirlce:before {
  content:'';
  position:absolute;
  height:20vh; 
  width:20vh;
  background:rgba(255, 255, 255, 0.187);
  animation:rotate 3s linear reverse infinite;
  border-radius: 50%;

}

@keyframes rotate {
  100% { transform:rotate(-360deg); 
  } 
}
.EndOfPage
{
    background-color: #fff;
    height: 5em;
}
.textfooter
{
    color: black;
    padding: 10px;
    text-align: center;
}

/* Responsive Desing*/
@media only screen and (max-width: 1300px)
{

    .nav_item1 {
        position: absolute;
        left: 31rem;
        top: 20px;
        padding: 10px;
    }
    .nav_item2 {
        position: absolute;
        left: 36rem;
        top: 20px;
        padding: 10px;
    }.nav_item3 {
        position: absolute;
        left: 41rem;
        top: 20px;
        padding: 10px;
    }.nav_item4 {
        position: absolute;
        left: 46rem;
        top: 20px;
        padding: 10px;
    }
    .EndOfPage {
        background-color: #fff;
        height: 5em;
        width: 70rem;
    }
    /* #TextLanding {
        margin: 8em;
        text-align: center;
        font-size: 12px;
        font-family: 'Fira Sans', sans-serif;
    }
    #section1 p {
        color: white;
        font-family: 'Fira Sans', sans-serif;
        width: 30em;
        position: absolute;
        bottom: 5px;
        right: -15em;
    }

    #section1 h2 {
    border-bottom: 1px yellow solid;
    font-size: 45px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    bottom: 5em;
    width: 6em;
}

    #section1 {
        text-align: left;
        background-color: #002851;
        width: 32em;
        height: 20em;
    }

    #section2 {
        text-align: left;
        background-color: #002851;
        width: 32em;
        height: 20em;
    }
    #section3 {
        text-align: left;
        background-color: #002851;
        width: 32em;
        height: 20em;
    }#section4 {
        text-align: left;
        background-color: #002851;
        width: 32em;
        height: 20em;
    } */
}
#myBtn 
{
display: none;
    color: white; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #2d7dc3; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 15px; 
    font-size: 18px; 
    font-family:'Fira Sans', sans-serif;
  }
  
  #myBtn:hover 
  {
    background-color:#2d7dc3; 
  }
